/* IE6-7 fix */
.odds-table tbody tr.odd td, .odds-table tbody tr.odd th, .odds-table tbody tr.prop-row-odd td, .odds-table tbody tr.prop-row-odd th {
    border-bottom: 1px solid #888888;
}

.parlay-mode-container input {
margin-top: -4px;
}

.odds-table tbody td.prop-cell {
    width: 21px;
    padding-right: 5px;
 }