body {
	font-family: Verdana;
	font-size: 14px;
}

#adminMenu {
	width: 1200px;
}

table.genericTable {
	font-size: 12px;
}

table.genericTable tr td {
	border-bottom: 2px solid #cccccc;
	padding-left: 10px;
	padding-right: 10px;
}

table.eventsOverview {
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 12px;
	
}

table.eventsOverview tr {
	background-color: #ffffff;
}

table.eventsOverview tr:nth-child(2n) {
	background-color: #f0f0f0;
}

table.eventsOverview tr th {
	border: 1px solid black;
	background-color: #dddddd;
	text-align: left;
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

table.eventsOverview tr th a {
	color: #d32020;
	text-decoration: none;
}

table.eventsOverview tr td {
	padding: 8px;
		
}

table.eventsOverview tr td.eventID {
	color: #c0c0c0;
	text-align: center;
}

table.eventsOverview tr td.eventID a {
	color: #c0c0c0;
}


table.eventsOverview tr td.fight a {
	color: #000000;
}

.main-event {
	font-weight: bold;
}

table.eventsOverview tr td.imageLink a {
	color: #0033cc;
	font-weight: bold;
}

table.eventsOverview tr td.arbitrage {
	color: #cccccc;
	text-align: center;
}

table.eventsOverview tr td.positive {
	color: #33aa00;
	text-align: center;
}

table.eventsOverview tr td.arbitrage a {
	color: #33aa00;
}

table.eventsOverview tr td.mainEvent a {
	color: #009933;
}

table.eventsOverview tr td a {
	color: #d32020;
	text-decoration: none;
}

table.logTable {
    border-collapse: collapse;
}

table.logTable tr td {
    font-family: Verdana; 
    font-size: 10px;
    background-color: #f3f3f3;
}

table.logTable tr td.sev-2 {
    background-color: #ff6666;
}

table.logTable tr td.sev-1 {
    background-color: #ffff99;
}

table.logTable tr td.sev1 {
    background-color: #ccffcc;
}

table.logTable tr td.sev2 {
    background-color: #66ff66;
}