.table-header {
    background-color: #212427;
    background-image: url('/img/ot-top.png');
    font-size: 12px;
    height: 16px;
    padding: 6px 0px 7px 11px;
    color: #fff;
}

.table-header a {
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;

}

.table-header a:hover{
    color: #d0d0d0;
}

.table-header-mini {
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    background-image: url('/img/ot-top.png');
    height: 16px;
    color: #fff;
}

.odds-table {
    width: 100%;
    font-size: 11px;
    border-collapse:collapse;

}

.odds-table thead tr {
    background-image: url('/img/ot-menu.png');
    background-color: #212427;
    height: 18px;
}

.odds-table thead th {
    text-align: center;
}

.odds-table thead th a{
    color: #c81818;
    font-weight: bold;
    font-size: 10px;
}

.odds-table thead th a:hover {
    color: #e84E4E;
}

.odds-table tbody tr {
    background-color: #e8e8e8;
    height: 14px;
}

.odds-table tbody tr.odd {
    background-color: #fff;
    border-bottom: 1px solid #989898;
}

.odds-table tbody tr.prop-row {
    background-color: #c8c8c8;
    display: none;

}

.odds-table tbody tr.prop-row-odd {
    background-color: #d8d8d8;
    border-bottom: 1px solid #787878;
    display: none;
    height: 5px;
}

.odds-table tbody th {
    padding-left: 5px;
    width: 115px;
    color: #272727;
    font-size: 10px;
    font-weight: bold;
}


.odds-table tbody th a {
    color: #272727;
    font-weight: bold;
    font-size: 10px;

}

.odds-table tbody th a:hover {
    color: #666;
}

.odds-table tbody td {
    border-left: 1px dotted #cccccc;
    color: #272727;
    width: 47px;
    text-align: center;
    height: 21px;
}

.odds-table tbody  tr.prop-row td,  .odds-table tbody  tr.prop-row-odd td {
    border-left: 1px dotted #aaaaaa;
    height: 19px;
}

.odds-table tbody td.button-cell {
    width: 16px;
}

.odds-table tbody td.prop-cell {
    width: 15px;
    color: #272727;
    padding-right: 11px;
    vertical-align: middle;
}

.exp-img {
    width: 9px;
    height: 16px;
    position: absolute;
    padding-left: 4px;
}


.odds-table tbody td a{
    color: #272727;
}

.odds-table tbody td a:hover {
    color: #666;
}

.odds-table tbody td.moneyline span.na{
    color: #686868;
}

.odds-table tbody td.moneyline .bestbet {
    background-color: #a30000;
    color: #fff;
    padding: 0 1px;
}

.carr-age1 {
    vertical-align: middle;
    position: absolute;
    width: 16px;
    height: 16px;


}
.carr-age2 {
    position: absolute;
    vertical-align: middle;
    width: 16px;
    height: 16px;

    opacity: .6;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=70);

}
.carr-age3 {
    position: absolute;
    vertical-align: middle;
    width: 16px;
    height: 16px;

    opacity: .25;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=35);
}

.table-outer-wrapper {
    background: url('/img/table-back-full.png');
    padding: 0 15px;

}

.table-last-changed {
    color: #666;
    height: 15px;
    font-size: 10px;
    text-align: right;
    padding-top: 3px;
    padding-right: 19px;
    margin-bottom: 6px;
    background: url('/img/table-below-full.png') top left no-repeat;
}

.small-button:hover {
    opacity: .85;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
}


