html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html, body{ 
    margin:0;
    padding:0;
    text-align:center;
}

body {
    font-family: Arial;
    font-size: 11px;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

#page{ 
    width:1000px;
    text-align:left;
    margin:0 auto;
} 

#main{
    background-color: #d3d3d4;
    position: relative;
}

#header-top {
    background-color: #212427;
    background-image: url('/img/header-top.png');
    height: 65px;
}

#header-menu {
    background-color: #212427;
    background-image: url('/img/header-menu.png');
    height: 23px;
    padding-left: 25px;
}

.header-menu-item {
    height: 18px;
    font-weight: bold;
    font-size: 11px;
    float: left;
    padding: 5px 12px 0 12px;
    margin-left: 8px;

}

.header-menu-item a:hover {
    color: #d0d0d0;
}

#header-menu-selected{

    background-image: url('/img/header-menu-sel.png');
}

#header-bottom {
    background-color: #212427;
    height: 11px;
}

#content {
    padding: 13px 0px 13px 0px;
    border-top: 1px solid silver;
    border-left: 2px solid silver;
    border-right: 2px solid silver;
}

#content input, #content select {
    vertical-align: middle;
    padding-left: 2px;
}
#content select {
    height: 20px;
}

#logo {
    margin-top: 7px;
    margin-left: 16px;
    float: left;
}

#twitter-icon {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 6px;
    margin-top: -3px;
}


#header-search-box {
    float: right;
    padding-right: 20px;
    margin-top: 22px;
}

#header-search-box input {
    background-image: url('/img/search-back.png');
    height: 24px;
    width: 200px;
    font-size: 11px;
    color: #fff;
    border: 1px solid #1d1d1d;
    border-width: 1px;
}
#header-search-box input.search-box {
    padding-left: 6px;
    line-height: 24px;

}

#header-search-box #search-button {
    background-image: url('/img/search-button-back.png');
    width: 100px;
    font-size: 11px;
    height: 25px;
}

.parlay-mode-container {
    float: right;
    margin-top: 5px;
    border-right: 1px solid #666;
    float: right;
    padding-right: 8px;
}

.parlay-mode-container input {
    color: #000;
    float: left;
    margin-right: 4px;
    border: 0px;
}

.format-container {
    float: right;
    padding: 0 7px 0 8px;
    margin-top: 1px;
}


@-moz-document url-prefix() {
    .format-container {
    margin-top: 3px;
}

}


.format-container select {
    background-color: #fff;
    border: 1px inset #d0d0d0;
    color: #000;
}

.format-amount-container {
    display: none;
    color: #fff;
    float: right;
    margin-top: 3px;
    margin-right: 8px;
}

.format-amount-container .format-amount-box {
    color: #000;
    width: 40px;
    margin: 0 5px 0 4px;
}

.format-amount-container .format-amount-button {
    color: #fff;
    width: 40px;
    height: 18px;
    border: 1px solid #1d1d1d;
    background-image: url('/img/small-button-back.png');
    font-size: 11px;
}

/* Pop-up */

.popup-container {
    color: #000;
    height: 135px;
    width: 267px;
    margin: 0;
    border: 1px solid #000;
    background: #f8f8f8;
}

.popup-container a {
    color: #a30000;
    text-decoration: none;
}

.popup-container select {
    margin: 7px 0 10px 3px;
}

.popup-container p {
    color: #202020;
    text-align: left;
    padding: 0 2px;
    margin: 8px;
}

input.abutton {
    height: 18px;
    width: 80px;
    color: #fff;
    border: 1px solid #1d1d1d;
    background-image: url('/img/small-button-back.png');
    font-size: 11px;
}


.popup-container p span {
    color: #a30000;
}


.popup-header {
    color: #fff;
    background-image: url('/img/ot-top.png');
    text-align: left;
    padding: 4px;
    font-weight: bold;
}

/* Alerts */

#alert-popup-form1 {
    text-align: left;
    padding: 10px;
    margin: 0;
    color: #000;
}

#alert-popup-form-container {
    text-align: left;
}

#alert-popup-form-container a, #alert-popup-loading-container a, #alert-popup-result-container a {
    color: #a30000;
    font-weight: bold;
}

#alert-popup-loading-container, #alert-popup-result-container {
    display: none;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: #000;
}

.popup-header .alert-popup-close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    text-decoration: none;
}

.popup-header a.alert-popup-close-button {
    color: #a30000;
}

#alert-popup-form1 p {
    margin: 0;
    line-height: 2.5;
}

#page-wrapper {
    background: url('/img/table-back-full.png');
    padding: 0 15px;
}

#page-header {
    background-color: #212427;
    background-image: url('/img/ot-top.png');
    font-size: 14px;
    height: 14px;
    padding: 6px 0px 9px 11px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#page-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    color: #202020;
    font-size: 12px;
    background: url('/img/content-back.png');
}

#page-inner-wrapper {
    padding: 18px 22px;
    float: left;
}

#page-container h1 {
    font-size: 18px;
    color: #ff0000;
}

#page-content {
    width: 710px;
    color: #000;
    float: left;
}

#page-bottom {
    height: 15px;
    margin-bottom: 12px;
    background-image: url('/img/table-below-full.png');
}

.clear {
    clear: both;
}

.odds-history {
    border: 1px solid #000;
    padding: 5px;
}

#bottom-divider {
    background-color: #212427;
    height: 12px;
}

#bottom-container {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    color: #666;
    margin-top: -15px;
}

#bottom-container a {
    color: #999;
    font-size: 11px;
    padding: 0 5px;
}

.hidden-image {
    width: 0;
    height: 0;
}

.content-sidebar {
    float: right;
    width: 174px;
    padding: 18px;
    height: 100%;
    font-size: 11px;

}

.content-sidebar a {
    color: #000;
    text-decoration: underline;
}

.content-sidebar p {
    margin: 0;
    padding: 0;
}

.img-info-box {
    width: 12px;
    height: 12px;
    border: 0;
    margin: 0 1px;
}

.img-note-box {
    width: 11px;
    height: 11px;
    border: 0;
    margin: 0 1px;
}

.clear {
    background-color: #fff;
}

/* Page specific */
/* Alerts */


.p-alerts-add  a {
    color: #a30000;
    font-weight: bold;
}

.alerts-matchup-table {
    border-color: #b0b0b0;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    margin-bottom: 10px;
    width: 100%;
}

.alerts-matchup-table tr {
    background-color: #e8e8e8;
}

.alerts-matchup-table tr td {
    padding: 4px;
    font-size: 11px;
    border-bottom: 1px dotted #989898;
}

.alerts-matchup-table tr td.team-cell {
    width: 140px;
}


.alerts-matchup-table tr td a {
    font-weight:  bold;
    color: #202020;
}

.alerts-matchup-table tr td a:hover {
    color: #666
}


.alerts-matchup-table tr td.alert-row-header {
    background-image: url('/img/ot-menu.png');
    color: #fff;
    font-size: 11px;
    padding: 4px 0px 6px 8px;
    font-weight: bold;
}

.alerts-matchup-table tr td.alert-row-header a {
    font-weight: bold;
    color: #fff;
}

.alerts-matchup-table tr td.alert-row-header a:hover {
    color: #D0D0D0;
}

.alerts-matchup-table tr.alerts-row-odd {
    background-color: #fff;
}

.alerts-add-button {
    float: right;
    margin-left: 5px;
    height: 18px;
    width: 70px;
    color: #fff;
    border: 1px solid #1d1d1d;
    background-image: url('/img/small-button-back.png');
    font-size: 11px;
}

.alerts-add-button[disabled] {
    color: #888;
}


/* Archive */

input.archive_search_button {
    height: 18px;
    width: 80px;
    color: #fff;
    border: 1px solid #1d1d1d;
    background-image: url('/img/small-button-back.png');
    font-size: 11px;
}

.fighter-profile-container
{
    margin-left: 8px;
    width: 100px;
    float: left;
}

.fighter-profile-container img {
    border: 1px solid #B0B0B0;
}


.fighter-history-container
{
    float: right;
}

.fighter-history-event-container
{
    margin-bottom: 10px;
    /*border-color: #B0B0B0;
    border-style: solid;
    border-width: 1px 1px 0px 1px;*/
    padding-right: 15px;
}

/* Graphs */

.graph-image {
    padding: 5px;
}

.graph-container {
    /*TODO: The following line could potentially cause problems in some browsers*/
    height: 100px;
    background: url('/img/ajax-loader.gif') #f8f8f8 no-repeat center;
}


/* Links */

.links-table {
    border: 0; 
    width: 840px;
    border-collapse: collapse;
}

.links-table td {
    margin-bottom: 20px;

}