//Table row height
$tablerowheight: 27px;


.table-header {
  font-size: 12px;
  padding: 6px 0px 6px 11px;
  text-transform: uppercase;
  color: #858993;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 2;
  height: 20px;
  a {
    color: #858993;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    &:hover {
      color: #d0d0d0;
    }
  }
}

.table-header-title {
  max-width: 100%;
  white-space: nowrap;
}

.table-header-date {
  padding-left: 8px;
  padding-top: 3px;
}

.no-odds {
  text-align: center;
  padding: 25px 0;
  background-color: #fff;
  a {
    color: #202020;
  }
}
<<<<<<< HEAD


=======
>>>>>>> 57f1e9f52de0cd2332f6a0ba016bfbfc5ba1d29a
.t-b-fcc { //Table body first column content wrapper span (e.g. fighter name 'Jon Jones')
  width: 100%;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px; 
}

.t-b-cc { //Table body column content wrapper span (e.g. line '-500')
  width: 100%;
  height: 12px;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}

.odds-table {
<<<<<<< HEAD
  width: 100%;
=======
  width: 944px;
>>>>>>> 57f1e9f52de0cd2332f6a0ba016bfbfc5ba1d29a
  font-size: 12px;
  border-collapse: collapse;
  thead {
    tr {
      background-color: #eaecee;
    }
    th {
      text-align: center;
      height: 25px;
<<<<<<< HEAD
      /*width: 60px;
      min-width: 60px;
      max-width: 60px;*/
      &.table-prop-header {
        text-align: right;
        padding-right: 5px;
        color: #606060;
        width: 30px;
        min-width: 30px;
        max-width: 30px;
=======
      width: 50px;
      &.table-prop-header {
        text-align: right;
        padding-right: 5px;
        color: #505050;
        width: 30px;
        min-width: 30px;
        max-width: 30px;
        font-weight: 500;
>>>>>>> 57f1e9f52de0cd2332f6a0ba016bfbfc5ba1d29a
      }
      &.date-head {
        width: 40px;
      }
      a {
        color: #787878;
        padding-top: 6px;
        padding-bottom: 6px;
        &:hover {
          color: #999;
        }
        height: 20px;
      }
    }
  }
  tbody {
    tr {
<<<<<<< HEAD
      background-color: #f7f9fa;
      height: $tablerowheight;
      &:nth-child(2n)
      {
=======
      background-color: #f5f7f9;
      height: $tablerowheight;
      &:nth-child(2n) {
>>>>>>> 57f1e9f52de0cd2332f6a0ba016bfbfc5ba1d29a
        background-color: #fff;
        border-bottom: 1px solid #d6d6d6;
      }
<<<<<<< HEAD

      &.eventprop {
        background-color: #f5f7f9;
        border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #c6c6c6;
        border-bottom: 0;
        & th a {
          font-weight: 400;
        }
      }
      &.pr {
        background-color: #e0e2e4;
=======
      &.pr {
        background-color: #DCDEE0;
>>>>>>> 57f1e9f52de0cd2332f6a0ba016bfbfc5ba1d29a
        display: none;
        height: $tablerowheight;
        &:nth-child(2n) {
          background-color: #e8eaec;
          border-bottom: 1px solid #c0c0c0;
        }
      }
    }
    th {
      padding-left: 5px;
      width: 110px;
      color: #1a1a1a;
<<<<<<< HEAD
      font-weight: 400;
=======
      font-size: 10px;
      font-weight: 500;
>>>>>>> 57f1e9f52de0cd2332f6a0ba016bfbfc5ba1d29a
      max-width: 111px;
      min-width: 111px;
      line-height: 12px;
      padding-right: 2px;
      word-break: break-word;
      a {
        color: #1a1a1a;
        width: 140px;
        height: 20px;
        font-weight: 500;
        &:hover {
          color: #999;
        }
      }
    }
    td {
      font-family: Arial, sans-serif;
      color: #1a1a1a;
      width: 47px;
      max-width: 47px;
      text-align: center;
      height: 20px;
      position: relative;
      a {
        margin: 0;
        padding: 0;
        border: 0;
      }
    }
    tr {
      &.pr td {
        /*border-left: 1px dotted #bbb;*/
      }
    }
    td {
      &.date-cell {
        font-size: 10px;
        color: #a8a8a8;
        font-family: 'Roboto', Arial, sans-serif;
        width: 40px;
      }
      &.button-cell {
        width: 16px;
        padding-top: 1px;
        height: 19px;
      }
      &.prop-cell {
        width: 30px;
        min-width: 30px;
        vertical-align: middle;
        a {
          color: #585B5E;
          &:hover {
            color: #787B7F;
          }
        }
      }
      a {
        color: #1a1a1a;
        &:hover {
          color: #666;
        }
      }
      span.na {
        color: #686868;
      }
      .bestbet {
        background-color: #346896;
        color: #fff;
        padding: 0 1px;
      }
    }
  }
  .hidden {
    display: none;
  }
  .hidden {
    display: none;
  }
}

@media not screen and (max-width: 767px) {
  .odds-table tbody {
    td:hover:not(.button-cell):not(.chart-cell):not(.prop-cell):not(:empty):not(.date-cell) {
      background-color: #d8d8d8;
      -webkit-transition-property: background-color;
      -moz-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
    }
    tr {
      &.pr td:hover:not(.button-cell):not(.chart-cell):not(.prop-cell):not(:empty) {
        background-color: #c8c8c8;
        -webkit-transition-property: background-color;
        -moz-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.1s;
        -moz-transition-duration: 0.1s;
        -o-transition-duration: 0.1s;
        transition-duration: 0.1s;
      }
    }
  }
}

.aru {
  margin: 0;
  padding: 0;
  color: #4BCA02;
  position: absolute;
  margin-left: 1px;
  font-size: 12px;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  line-height: $tablerowheight;
  display: inline-block;
}

.ard {
  margin: 0;
  padding: 0;
  color: #E93524;
  position: absolute;
  margin-left: 1px;
  font-size: 12px;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  line-height: $tablerowheight;
  display: inline-block;
}

.arage-1 {}

.arage-2 {
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity = 70);
}

.arage-3 {
  opacity: .30;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity = 30);
}

.table-outer-wrapper {
  padding: 0 15px;
  font-size: 12px;
}

.table-div {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  position: relative;
<<<<<<< HEAD
  border: 1px solid #c0c2c4;
=======
  border: 1px solid #C0C2C4;
>>>>>>> 57f1e9f52de0cd2332f6a0ba016bfbfc5ba1d29a
}

.table-last-changed {
  color: #999;
  height: 12px;
  font-size: 10px;
  text-align: right;
  padding-top: 3px;
  padding-right: 19px;
  margin-bottom: 10px;
}

.button-cell div:hover {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity = 85);
}

.odds-table-responsive-header {
  width: 95px;
  z-index: 2;
  position: absolute;
  display: none;
  tbody tr th {
    width: 95px;
    height: 20px;
  }
}

.exp-ard {
  width:  9px !important;
  height: 6px !important;
  background-image: url('/img/expd.png');
  background-size: 9px 6px;
  padding: 0 !important;
  display: inline-block;
}

.exp-aru {
  width: 9px !important;
  height: 6px !important;
  background-image: url('/img/expu.png');
  background-size: 9px 6px;
  padding: 0 !important;
  display: inline-block;
}

.but-img {
  width: 14px !important;
  height: 15px !important;
  background-size: 14px 15px;
  padding: 0 !important;
  display: inline-block;
}

.but-sg, .but-sgp, .but-sgep {
  cursor: pointer;
}

.but-sg:hover, .but-sgp:hover, .but-sgep:hover {
  color: #666;
}

.prop-cell:hover {
  cursor:pointer;
}

.button-cell:hover {
  cursor:pointer;
}

.i-ng {
  background-image: url('/img/icon-nograph.png');
}

.i-g {
  background-image: url('/img/icon-graph.png');
}

.svg-i {
  color: #53585a;
  fill: var(--iron-icon-fill-color, currentcolor);
  stroke: var(--iron-icon-stroke-color, none);
  height: 21px;
  width: 21px;
} 

.svg-i-disabled {
  color: #a5abb3;
  fill: var(--iron-icon-fill-color, currentcolor);
  stroke: var(--iron-icon-stroke-color, none);
  height: 21px;
  width: 21px;
}