.table-header {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0px 0px 12px 4px;
  color: #858993;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 2;
  height: 9px;
  font-weight: 500;
  a {
    color: #858993;
  }
}

.table-header-title { 
  max-width: 100%;
  white-space: nowrap;
}

.table-header-date {
  padding-left: 8px;
  padding-top: 3px;
}

.odds-table {
  width: 944px;
  font-size: 11px;
  border-collapse: collapse;
  thead {
    tr {
      background-color: #E9EAED; 
      /*border-bottom: 1px solid #c0c0c0;*/
    }
    th {
      text-align: center;
      height: 16px;
      width: 50px;
      &.table-prop-header {
        text-align: right;
        padding-right: 5px;
        color: #505050;
        font-size: 10px;
        font-weight: 500;
      }
      &.date-head {
        width: 40px;
      }
      a {
        color: #787878;
        font-size: 10px;
        font-weight: 500;
        &:hover {
          color: #999;
        }
      }
    }
  }
  tbody {
    tr {
      background-color: #f5f7f9;
      height: 20px;
      &.odd {
        background-color: #fff;
        border-bottom: 1px solid #D6D6D6;
      }
      &.pr {
        background-color: #DCDEE0;
        display: none;
        height: 20px;
      }
      &.pr-odd {
        background-color: #e8eaec;
        border-bottom: 1px solid #c0c0c0;
        display: none;
      }
    }
    th {
      padding-left: 5px;
      width: 110px;
      color: #1a1a1a;
      font-size: 10px;
      font-weight: 500;
      max-width: 110px;
      line-height: 10px;
      padding-right: 2px;
      word-break: break-word;
      span.tw {
        width: 100%;
        position: relative;
        display: inline-block;
      }
      a {
        color: #1a1a1a;
        font-weight: 500;
        font-size: 10px;
        width: 140px;
        height: 20px;
        &:hover {
          color: #999;
        }
      }
    }
    td {
      font-family: Arial, sans-serif;
      color: #1a1a1a;
      width: 47px;
      max-width: 47px;
      text-align: center;
      height: 20px;
      span.tw {
        width: 100%;
        height: 12px;
        position: relative;
        padding-top: 4px;
        padding-bottom: 4px;
        display: inline-block;
      }
      a {
        margin: 0;
        padding: 0;
        border: 0;
      }
    }
    tr {
      &.pr td, &.pr-odd td {
        /*border-left: 1px dotted #bbb;*/
      }
    }
    td {
      &.date-cell {
        font-size: 10px;
        color: #a8a8a8;
        font-family: 'Roboto', Arial, sans-serif;
        width: 40px;
      }
      &.button-cell {
        width: 16px;
        padding-top: 1px;
        height: 19px;
      }
      &.prop-cell {
        width: 28px;
        vertical-align: middle;
        a {
          color: #585B5E;
          &:hover {
            color: #787B7F;
          }
        }
      }
      a {
        color: #1a1a1a;
        &:hover {
          color: #666;
        }
      }
      span.na {
        color: #686868;
      }
      .bestbet {
        background-color: #346896;
        color: #fff;
        padding: 0 1px;
      }
    }
    tr {
      &:nth-child(even) th {
        padding-bottom: 1px;
      }
      &:nth-child(odd) th {
        padding-top: 1px;
      }
    }
  }
}

@media not screen and (max-width: 767px) {
  .odds-table tbody {
    td:hover:not(.button-cell):not(.chart-cell):not(.prop-cell):not(:empty):not(.date-cell) {
      background-color: #d8d8d8;
      -webkit-transition-property: background-color;
      -moz-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
    }
    tr {
      &.pr td:hover:not(.button-cell):not(.chart-cell):not(.prop-cell):not(:empty), &.pr-odd td:hover:not(.button-cell):not(.prop-cell):not(:empty) {
        background-color: #c8c8c8;
        -webkit-transition-property: background-color;
        -moz-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.1s;
        -moz-transition-duration: 0.1s;
        -o-transition-duration: 0.1s;
        transition-duration: 0.1s;
      }
    }
  }
}

.aru {
  margin: 0;
  padding: 0;
  color: #4BCA02;
  position: absolute;
  margin-left: 1px;
  font-size: 12px;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  line-height: 20px;
  display: inline-block;
}

.ard {
  margin: 0;
  padding: 0;
  color: #E93524;
  position: absolute;
  margin-left: 1px;
  font-size: 12px;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  line-height: 20px;
  display: inline-block;
}

.arage-1 {} 

.arage-2 {
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity = 70);
} 

.arage-3 {
  opacity: .30;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity = 30);
}

.table-inner-wrapper {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.table-outer-wrapper {
  padding: 0 15px;
  font-size: 12px;
}

.table-div {
  position: relative;
}

.table-last-changed {
  color: #999;
  height: 12px;
  font-size: 10px;
  text-align: right;
  padding-top: 1px;
  padding-right: 19px;
}

.button-cell div:hover {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity = 85);
}

.odds-table-responsive-header {
  width: 125px;
  z-index: 2;
  position: absolute;
  display: none;
  tbody tr th {
    width: 90px;
    height: 20px;
  }
}

.exp-ard {
  width: 9px !important;
  height: 6px !important;
  background-image: url('/img/expd.png');
  background-size: 9px 6px;
  padding: 0 !important;
  display: inline-block;
}

.exp-aru {
  width: 9px !important;
  height: 6px !important;
  background-image: url('/img/expu.png');
  background-size: 9px 6px;
  padding: 0 !important;
  display: inline-block;
}

.but-img {
  width: 14px !important;
  height: 15px !important;
  background-size: 14px 15px;
  padding: 0 !important;
  display: inline-block;
}

.i-ng {
  background-image: url('/img/icon-nograph.png');
}

.i-na {
  background-image: url('/img/icon-noalert.png');
}

.i-g {
  background-image: url('/img/icon-graph.png');
}

.i-a {
  background-image: url('/img/icon-alert.png');
}