Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(www\.)?bestfightodds\.com [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,QSA]

RewriteRule ^events/ufc-223-ferguson-vs-khabib-1444 /events/ufc-223-khabib-vs-holloway-1444 [R=301]
RewriteRule ^events/ufc-223-1444 /events/ufc-223-khabib-vs-holloway-1444 [R=301]
RewriteRule ^events/ufc-223-holloway-vs-khabib-1444 /events/ufc-223-khabib-vs-holloway-1444 [R=301]

RewriteRule ^fights/([0-9]+)_o.png fightlink.php?fight=$1&type=opening [nc]
RewriteRule ^fights/([0-9]+).png fightlink.php?fight=$1 [nc]
RewriteRule ^events/([0-9]+)_o.png fightlink.php?event=$1&type=opening [nc]
RewriteRule ^events/([0-9]+).png fightlink.php?event=$1 [nc]
RewriteRule ^fights/([0-9]+)_o_d.png fightlink.php?fight=$1&type=opening&format=2 [nc]
RewriteRule ^fights/([0-9]+)_d.png fightlink.php?fight=$1&format=2 [nc]
RewriteRule ^events/([0-9]+)_o_d.png fightlink.php?event=$1&type=opening&format=2 [nc]
RewriteRule ^events/([0-9]+)_d.png fightlink.php?event=$1&format=2 [nc]
RewriteRule ^fighters/[a-zA-Z\-]+-([0-9]+)/{0,1} index.php?p=fighter&fighterID=$1 [nc]
RewriteRule ^events/[a-zA-Z\-0-9]+-([0-9]+)/{0,1} index.php?p=event&eventID=$1 [nc]
RewriteRule ^alerts/{0,1} index.php?p=alerts [nc]
RewriteRule ^links/{0,1} index.php?p=links [nc]
RewriteRule ^archive/{0,1} index.php?p=archive [nc,QSA]
RewriteRule ^terms/{0,1} index.php?p=terms [nc]
RewriteRule ^search/{0,1} search.php [nc,QSA]
RewriteRule ^api ajax/ajax.Interface.php [nc,QSA]
RewriteRule ^feed feed.php?key=$1 [nc,QSA]
RewriteRule ^, / [R]
RewriteRule ^fights/([a-zA-Z]+)(.*)$ / [R=301,NC,L]
RewriteRule ^\[[0-9]\] / [R]
RewriteRule ^out/([0-9]+) redir.php?b=$1 [nc]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{HTTP_USER_AGENT} ^(python|catexplorador) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule ^.* - [F,L]

<FilesMatch "\.(jpg|gif|png)$">
        Header set Cache-Control "max-age=604800, must-revalidate"
</FilesMatch>

<FilesMatch "\.(js|css)$">
        Header set Cache-Control: "max-age=604800, must-revalidate"
</FilesMatch>