@media (prefers-color-scheme: dark) {
    body {
        background-color: #25272a;
    }
    
    .header-menu-wrapper {
        -webkit-box-shadow: 0 2px 1px -1px #383838;
        -moz-box-shadow: 0 2px 1px -1px #383838;
        box-shadow: 0 2px 1px -1px #383838
    }
    
    .odds-table tbody tr {
        background-color: #363b41;
    }
    
    .odds-table tbody tr.odd {
        background-color: #3b4047;
        border-bottom: 1px solid #252525;
    }
    
    .odds-table thead tr {
        background-color: #30353a;
    }
    
    .table-div {
        -webkit-box-shadow: 0 1px 1px 1px #aaa;
        -moz-box-shadow: 0 1px 1px 1px #aaa;
        box-shadow: 0 1px 1px 1px #111111;
    }
    
    .odds-table tbody th a {
        color: #d7d7d7;
    }
    
    .odds-table tbody td a {
        color: #cacaca;
    }
    
    .aru {
        color: #358e02;
    }
    
    .ard {
        color: #942014;
    }
    
    .odds-table tbody td .bestbet {
        background-color: #900000;
        color: #d7d7d7;
        padding: 0 1px;
    }
  }

