/app/front/pages/cache/*.php
/app/front/pages/page.odds.php
/app/front/pages/oddspage.php
/app/front/pages/upcoming_odds.php
/app/front/pages/page.feed.xml
/app/front/pages/sitemap-events.xml
/app/front/pages/sitemap-teams.xml
/app/front/img/cache/*.png
/node_modules/*
/vendor/*
/log/*
/logs/*
/config/inc.config.php
/db/scripts/backup/pbo*.zip